@import "../../styles.scss";

.footer {
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background: $main;
  text-align: center;
  padding: .1em .75em;
  border-top: $lightborder solid 1px;
}

svg {
  width: 32px;
  height: 32px;
  fill: grey;
  transition: fill 0.5s ease-out;
}
svg:hover {
  fill: black;
}

a {
  display: inline-block;
  height: 2em;
  vertical-align: middle;
  margin: 8px auto;
}

div.col-2 {
  padding: 0px 10px;
  height: auto;
  margin: 0px auto;
}

.row {
  width: 100%;
  margin: auto;
  padding: 0px 50px;
  max-width: 700px;
}
