<h2>About</h2>
<p>
  I am a recent alumni of the computer programming bootcamp <a href="https://www.epicodus.com" target="_blank">Epicodus</a> in Portland, Oregon. I took the Java/Android track, consisting of four five-week sections and a five-week internship.
</p>
<p>
  Epicodus was a great experience. I already had some exposure to coding going in, having developed a few Android apps, but they were able to give me a solid foundation for a career as a developer. I learned programming fundamentals, industry-standard tools like Git and Node, and a number of other tools and frameworks.
</p>
<p>
  Aside from the technical, Epicodus also helped me hone my interpersonal skills. Every day we paired up with another student, going through the days lessons on a shared computer. Pair programming allows you to have two minds working on the same problem, but it can also be a challenge. You have to be mindful of the time and space that you take up, and make sure that your partner feels comfortable speaking their mind, sharing ideas, and asking for a turn at the keyboard.
</p>
<p>
  I interned at <a href="http://www.eyecuelab.com" target="_blank">EyeCue Lab</a> in downtown Portland. They are a small agency of about ten people who do really great work. I started off doing some manual QA on one of their larger projects, <a href="https://powur.com" target="_blank">Powur</a>, finding and reporting bugs. After a few weeks, I started taking on tasks myself. I improved the responsiveness of components, added CSS animations, and made decisions about the UI. After five weeks, I had gained some momentum and was sad it had to end.
</p>
<p>
  I am currently looking for work, so feel free to <a href="portfolio/contact">contact</a> me about any job opportunities!
</p>
<br><br>
<p>
  This site, like myself, is a work in progress.
</p>
