#header h2, #header p {
  display: inline;
}

#header {
  margin-bottom: 8px;
}

ul {
  list-style: circle;
  padding-left: 20px;
}

@media (min-width: 992px) {
  .col-sm {
    padding-left: 10%;
    padding-right: 10%;
  }
}
