<div class="row">
  <div class="col-sm">
    <div id="header">
      <h2>Repo's</h2>
      <p>(<a href="https://github.com/ryanmcalpin" target="_blank">Main</a> / <a href="https://github.com/ryanmcalpin-epicodus" target="_blank">Epicodus</a>)</p>
    </div>
    <ul>
      <li><a href="https://github.com/ryanmcalpin/portfolio" target="_blank">This Site</a></li>
      <li><a href="https://github.com/ryanmcalpin/exquisite" target="_blank">Exquisite</a></li>
      <li><a href="https://github.com/ryanmcalpin/beer-finder" target="_blank">Beer Finder</a></li>
      <li><a href="https://github.com/ryanmcalpin/statsketball" target="_blank">Statsketball</a></li>
      <li><a href="https://github.com/warnock/oregon-trail-game" target="_blank">Oregon Trail Game</a></li>
    </ul>
  </div>

  <div class="col-sm">
    <h2>Live&nbsp;&nbsp;&nbsp;&nbsp;Projects</h2>
    <ul>
      <li><a href="https://statsketball-27ff5.firebaseapp.com/"  target="_blank">Statsketball</a></li>
      <li><a href="https://warnock.github.io/oregon-trail-game/" target="_blank">Oregon Trail Game</a></li>
    </ul>
  </div>
</div>
