.items {
  align-self: baseline;
}

.body-container {
  margin-top: 1em;
  padding-bottom: 6em;
}

nav {
  background: #ededed !important;
  border-bottom: #e0e0e0 solid 1px;
}
nav button {
  /*background: #f7f7f7 !important;*/
  border-color: #c1c1c1;
}
