<section class="hero is-light is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Hi. I'm Ryan.</h1>
      <h1 class="subtitle">I am a programmer and a musician.</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <h1 class="title">What I Do</h1>
    <h2 class="subtitle">Or what I want to do...</h2>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <h1 class="title">My Projects</h1>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <h1 class="title">Contact Me</h1>
  </div>
</section>
