.items {
  align-self: baseline;
}

.body-container {
  margin-top: 1.5em;
  padding-bottom: 4.5em;
  min-width: 85%;
}

nav {
  background: #ededed !important;
  border-bottom: #e0e0e0 solid 1px;
}

nav button {
  background: #f7f7f7 !important;
  border-color: #c1c1c1;
}

#ryan {
  position: absolute;
  text-align: right;
  margin-top: 8px;
  width: calc(100% - 32px - 60px);
  margin-left: 30px;
}

#ryan a {
  color: black;
}

#route-title-container {
  position: absolute;
  width: calc(100% - 176px);
  margin-top: 8px;
}

@media (min-width: 576px) {
  #route-title-container {
    display: none;
  }
}

@media (max-width: 280px) {
  #route-title-container {
    display: none;
  }
}

@media (max-width: 200px) {
  #ryan {
    display: none;
  }
}
