<section class="hero is-info is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title animated fadeInDown">Hi. I'm Ryan.</h1>
      <h2 class="subtitle animated lightSpeedIn">I am a programmer and a musician.</h2>
    </div>
  </div>
</section>

<section class="hero has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">What I Know</h1>
    </div>

    <div class="tile is-ancestor">
      <div class="tile is-parent is-4">
        <article class="tile is-child notification">
          <p class="title">Languages</p>
          <p class="content">Javascript</p>
          <p class="content">Java</p>
          <p class="content">SQL</p>
        </article>
      </div>
      <div class="tile is-parent is-4">
        <article class="tile is-child notification">
          <p class="title">Frameworks</p>
          <p class="content">Angular 2+</p>
          <p class="content">React</p>
          <p class="content">Electron</p>
        </article>
      </div>
      <div class="tile is-parent is-4">
        <article class="tile is-child notification">
          <p class="title">Other Tools</p>
          <p class="content">Node.js</p>
          <p class="content">Git</p>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="hero is-info">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">My Projects</h1>
    </div>

    <div class="tile is-ancestor">
      <div class="tile is-vertical is-parent is-12">
        <div class="tile">
          <article class="tile is-child notification is-dark">
            <p class="title">Exquisite</p>
            <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </article>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <h1 class="title">Contact Me</h1>
  </div>
</section>
