@import "../styles.scss";

$navFontAdjust: 3px;

.items {
  align-self: baseline;
}

.body-container {
  margin-top: 1.5em;
  padding-bottom: 4.5em;
  min-width: 85%;
}

nav {
  background: $main !important;
  border-bottom: $lightborder solid 1px;
}

nav button {
  background: lighten($main, 10%) !important;
  border-color: $lightborder;
}


.nav-item {
  margin-top: $navFontAdjust;
}

.nav-link {
  padding: .5em .6em !important;
}

#ryan {
  text-align: right;
  right: 0;
  position: absolute;
  z-index: 10;
  margin-top: 16px;
  margin-right: 16px;
  font-family: $titleFont;
  font-size: 1.25em;

  &.shown {
    opacity: 1;
    transition: opacity 350ms ease-in;
    -webkit-transition: opacity 350ms ease-in;
  }

  &.hidden {
    opacity: .3;
    transition: opacity 350ms ease-out;
    -webkit-transition: opacity 350ms ease-out;
  }
}

#ryan a {
  color: black;
  cursor: none;
}

#ryan a:hover {
  text-decoration: none;
}

#route-title-container {
  margin-left: 83px;
  position: absolute;
  float: left;
  z-index: 10;
  margin-top: 16px + $navFontAdjust;

  &.shown {
    opacity: 1;
    transition: opacity 300ms ease-in;
    -webkit-transition: opacity 300ms ease-in;
  }

  &.hidden {
    opacity: 0;
    transition: opacity 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out;
  }
}

#route-title-container p {
  margin-bottom: 0px;
  cursor: default;
  color: $greyFont;
}


@media (min-width: 576px) {
  #route-title-container {
    display: none;
  }

  #ryan {
    margin-right: 24px;
  }
}

@media (max-width: 280px) {
  #route-title-container {
    display: none;
  }
}

@media (max-width: 200px) {
  #ryan {
    display: none;
  }
}
