@import "../styles.scss";

.items {
  align-self: baseline;
}

.body-container {
  margin-top: 1.5em;
  padding-bottom: 4.5em;
  min-width: 85%;
}

nav {
  background: #ededed !important;
  border-bottom: $border solid 1px;
  // border-bottom: #e0e0e0 solid 1px;
}

nav button {
  background: #f7f7f7 !important;
  border-color: $border;
  // border-color: #c1c1c1;
}

#ryan {
  text-align: right;
  right: 0;
  position: absolute;
  z-index: 10;
  margin-top: 16px;
  margin-right: 24px;
}

#ryan a {
  color: black;
  cursor: none;
}

#ryan a:hover {
  text-decoration: none;
}

#route-title-container {
  margin-left: 83px;
  position: absolute;
  float: left;
  z-index: 10;
  margin-top: 16px;
}

#route-title-container p {
  margin-bottom: 0px;
  cursor: default;
}

.shown {
  opacity: .5;
  transition: opacity .3s ease-out;
}

.hidden {
  opacity: 0;
  transition: opacity .3s ease-out;
}

@media (min-width: 576px) {
  #route-title-container {
    display: none;
  }
}

@media (max-width: 280px) {
  #route-title-container {
    display: none;
  }
}

@media (max-width: 200px) {
  #ryan {
    display: none;
  }
}
