@import "../../styles.scss";

div.card {
  margin-bottom: 1em;
  border-color: $border;
}

div.card-footer {
  width: 60%;
  margin-left: 40%;
  padding: .25em .75em;
  background: linear-gradient(to left, darken($main, 5%), white);
  border-top: none;
}

h2 {
  margin-bottom: 12px;
}

@media (min-width: 480px) {
  div.card-footer {
    width: 50%;
    margin-left: 50%;
  }
}

@media (min-width: 576px) {
  div.card-footer {
    width: 40%;
    margin-left: 60%;
  }
}
