@import "../../styles.scss";

div.card {
  margin-bottom: 1em;
  border-color: $border;
}

div.card-footer {
  width: 15em;
  margin-left: calc(100% - 15em);
  padding: .25em 1em;
  background: linear-gradient(to left, darken($main, 5%), white);
  border-top: none;
}
