/* You can add global styles to this file, and also import other style files */

// COLORS
$main: #f2f1f1;
$border: darken(#d8d8d8, 10%);
$lightborder: #d8d8d8;

//FONTS
$greyFont: rgba(0,0,0,.5);
@font-face {
  font-family: titleFont;
  src: url(/assets/BEBAS.ttf);
}

$titleFont: titleFont;

html {
  height: 100%;
}

body {
  position: relative;
  min-height: calc(100% - 80px);
  margin-top: 80px;
  cursor: default;
}

.clickable:hover {
  cursor: pointer;
}

h2 {
  margin-top: 1em;
  margin-bottom: 1em;

  font-family: $titleFont;
}

.title {
  font-family: $titleFont;
}
