/* You can add global styles to this file, and also import other style files */

$main: lighten(#d8d8d8, 10%);
$border: darken(#d8d8d8, 10%);

html {
  height: 100%;
}

body {
  position: relative;
  min-height: calc(100% - 80px);
  margin-top: 80px;
  cursor: default;
}

.clickable:hover {
  cursor: pointer;
}
